body {
  font-family: Arial, sans-serif;
  background-color: #04d1f56e;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: rgb(4, 243, 243);
  padding: 20px;
  border-radius: 10px;
}

h1, h2, h3, h4 {
  color: #333;
}

ul#post-list {
  list-style-type: none;
  padding: 0;
}

ul#post-list li {
  padding: 10px;
  border-bottom: 1px solid #b613d6;
  cursor: pointer;
}

ul#post-list li:hover {
  background-color: #eee;
}

form {
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

